%h1 Conway's Game of Life

#grid
  #row1
    %span#cell1
    %span#cell2
    %span#cell3
  #row2
    %span#cell4
    %span#cell5
    %span#cell6
  #row3
    %span#cell7
    %span#cell8
    %span#cell9
