<head>
<link rel="stylesheet" type="text/css" href="~/magic/app/assets/stylesheets/life.scss">
</head>

%h1 Conway's Game of Life

#generation_number
  %span#generations  

#grid
  #row1
    %span#cell1
    %span#cell2
    %span#cell3
    %span#cell4
    %span#cell5
  #row2
    %span#cell6
    %span#cell7
    %span#cell8
    %span#cell9
    %span#cell10
  #row3
    %span#cell11
    %span#cell12
    %span#cell13
    %span#cell14
    %span#cell15
  #row4
    %span#cell16
    %span#cell17
    %span#cell18
    %span#cell19
    %span#cell20
  #row5
    %span#cell21
    %span#cell22
    %span#cell23
    %span#cell24
    %span#cell25
