%h1 Conway's Game of Life

#grid
  #row1
    %span#cell1
    %span#cell2
    %span#cell3
    %span#cell4
  #row2
    %span#cell5
    %span#cell6
    %span#cell7
    %span#cell8
  #row3
    %span#cell9
    %span#cell10
    %span#cell11
    %span#cell12
  #row4
    %span#cell13
    %span#cell14
    %span#cell15
    %span#cell16
